.nav {
  grid-area: n;
  background-color: chartreuse;
  padding: 20px;

  a {
    text-decoration: none;
    font-weight: 500;
    color: violet;
  }

  a.activeLink {
    color: brown;
  }
}

.item {
  color: white;
}

.item.active {
  color: gold;
}