.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;

  &__list,
  &__items {
    padding: 20px;
  }

  &__toggle {
    color: white;

    &--important {
      font-weight: 700;
    }
  }

  &__toggle.active {
    color: blue;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a.active {
    color: chocolate;
  }
}
